/* =============================================
   NEXUS STUDY — disciplinas/2026/banco_dados.css
   Disciplina: Fundamentos de Banco de Dados
   ============================================= */

:root {
  --cor-tema:       #e87a9a;
  --cor-tema-rgb:   232, 122, 154;
  --cor-tema-2:     #e8c97a;
  --cor-tema-2-rgb: 232, 201, 122;
}