/* =============================================
   NEXUS STUDY — disciplinas/2026/design.css
   Disciplina: Design de Sistemas de Informação
   ============================================= */

:root {
  --cor-tema:       #e8c97a;
  --cor-tema-rgb:   232, 201, 122;
  --cor-tema-2:     #4dd9b4;
  --cor-tema-2-rgb: 77, 217, 180;
}