/* =============================================
   NEXUS STUDY — disciplinas/poo.css
   Disciplina: Programação Orientada a Objetos
   ============================================= */

@import url('disciplinas_global.css');

:root {
  --cor-tema:      #7aa8e8;
  --cor-tema-rgb:  122, 168, 232;
  --cor-tema-2:    #4dd9b4;
  --cor-tema-2-rgb: 77, 217, 180;
}